
#wrap {
  font: 14px/30px "微软雅黑";
  width: 1188px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #ddd;
}

.headerNav .active a {
  color: #22c233;
}

#headerNavWrap {
  position: static;
  left: auto;
  top: auto;
}

.headerNav a {
  color: #fff;
}

.headerNav .active {
  background: #f6f6f6;
  font-weight: bold;
  cursor: default;
}

/*操作导航*/
.AdminLoginList {
  position: relative;
}

.AdminLoginList:hover {
  background-color: #fff;
  box-shadow: 0 0 1px #ccc;
}

.AdminLoginList:hover ul {
  display: block;
}

.AdminLoginList > ul {
  width: 200px;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 12;
  box-shadow: 0 0 1px #ccc;
  background-color: #fff;
  display: none;
}

.AdminLoginList > ul > li {
  width: 100%;
  text-align: center;
}

.operationNav {
  width: 100%;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
  font: 12px/30px "微软雅黑";
}

.operationNavContent {
  width: 1190px;
  margin: 0 auto;
}

.loginList {
  float: left;
}

.loginList li {
  float: left;
  padding: 0 5px;
}

.loginList li a {
  color: #666;
}

.loginList li a:hover {
  color: #f60;
}

.loginList li span {
  float: left;
  width: 1px;
  height: 13px;
  background-color: #ccd4df;
  margin-top: 10px;
}

.operationNavFunction {
  float: right;
}

.operationNavFunctionList {
  float: left;
}

.operationNavFunctionList > li {
  float: left;
  padding: 0 12px;
}

.operationNavFunctionList li a {
  color: #666;
}

.operationNavFunctionList li a:hover {
  color: #f60;
}

.operationNavFunctionList li .active {
  color: #f60;
}

.operationNavFunctionList .myOrder,
.operationNavFunctionList .websiteMap {
  position: relative;
  padding: 0 16px;
  z-index: 99;
}

.operationNavFunctionList .myOrder i,
.operationNavFunctionList .websiteMap i {
  transition: .5s;
  display: inline-block;
  width: 5px;
  height: 3px;
  background: url("../img/icon2.png") no-repeat -8px -13px;
  position: absolute;
  top: 15px;
  right: 5px;
}

.operationNavFunctionList .myOrder:hover,
.operationNavFunctionList .websiteMap:hover {
  background-color: #fff;
  box-shadow: 0 0 1px #ddd;
}

.operationNavFunctionList .myOrder:hover .myOrderList,
.operationNavFunctionList .websiteMap:hover .websiteMapList {
  display: block;
}

.operationNavFunctionList .myOrder:hover i,
.operationNavFunctionList .websiteMap:hover i {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.operationNavFunctionList .myOrderList {
  width: 82px;
  position: absolute;
  top: 30px;
  left: -1px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-top: none;
  text-align: center;
  display: none;
}

/*网站地图*/
.websiteMapList {
  display: none;
  position: absolute;
  top: 29px;
  left: -985px;
  width: 1188px;
  border: 1px solid #ddd;
  padding: 30px 0;
  background-color: #fff;
  box-shadow: 5px 5px 1px #ddd;
}

.websiteMapList > li {
  float: left;
  height: 190px;
  border-left: 1px solid #ddd;
  padding: 0 40px;
}

/*去旅游*/
.websiteMapList li > * {
  float: left;
}

.websiteMapList li strong {
  font: bold 16px/2 '微软雅黑';
  margin-right: 40px;
}

.websiteMapList .goForAtravel {
  border-left: none;
}

.websiteMapList .goForAtravel strong {
  color: #2e9900;
}

.goForAtravel .goForAtravelContent > li {
  float: left;
  width: 90px;
  text-align: center;
}

.goForAtravelContent li li {
  height: 31px;
}

.goForAtravelContent li:nth-of-type(1) em,
.goForAtravelContent li:nth-of-type(2) em {
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-left: 5px;
}

.goForAtravelContent li:nth-of-type(1) em {
  background: url("../img/icon2.png") no-repeat -41px -9px;
}

.goForAtravelContent li:nth-of-type(2) em {
  background: url("../img/icon2.png") no-repeat -61px -9px;
}

/*寻优惠*/
.websiteMap .queryDiscount strong {
  color: #f69100;
}

/*看攻略*/
.websiteMap .readRaiders strong {
  color: #02609d;
}

/*查服务*/
.websiteMap .searchService strong {
  color: #bf4b56;
}

/*导航头部小图标*/
.operationNavContent .operationNavIcon {
  float: right;
}

.operationNavContent .operationNavIcon li {
  float: left;
  padding: 0 13px;
}

.operationNavIcon a {
  display: block;
}

/*微博*/
.operationNavIcon .microBlog {
  margin-top: 10px;
}

.operationNavIcon .microBlog:hover a {
  background: url("../img/icon2.png") no-repeat -86px -49px;
}

.operationNavIcon .microBlog a {
  width: 18px;
  height: 13px;
  background: url("../img/icon2.png") no-repeat -40px -50px;
}

/*APP*/
.operationNavIcon .APP {
  height: 30px;
  position: relative;
}

.operationNavIcon .APP:hover,
.operationNavIcon .weChat:hover {
  background-color: #fff;
  box-shadow: 0 0 1px #ddd;
}

.operationNavIcon .APP:hover div,
.operationNavIcon .weChat:hover div {
  display: block;
}

.operationNavIcon .APP:hover a {
  height: 18px;
  margin-top: 7px;
  background: url("../img/icon2.png") -24px -49px;
}

.operationNavIcon .APP a {
  width: 11px;
  height: 30px;
  background: url("../img/iphone.gif") -10px 0px;
}

.operationNavIcon .APP div {
  display: none;
  position: absolute;
  top: 30px;
  right: -30px;
}

/*微信*/
.operationNavIcon .weChat:hover a {
  background: url("../img/icon2.png") -92px -7px;
}

.operationNavIcon .weChat a {
  width: 18px;
  height: 14px;
  background: url("../img/icon2.png") -63px -49px;
  margin-top: 8px;
}

.operationNavIcon .weChat {
  height: 30px;
  position: relative;
}

.operationNavIcon .weChat div {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  box-shadow: 5px 5px 1px #ddd;
}

/*标题、Logo、搜索框、热线电话*/
.logoAndQuery {
  width: 100%;
  background-color: #fff;
}

.logoAndQueryContent {
  width: 1190px;
  margin: 0 auto;
}

.logoAndQueryContent > div {
  float: left;
}

/*logo*/
.logoAndQuery .websiteLogo {
  margin-right: 64px;
  height: 100px;
}

.logoAndQuery .websiteLogo img {
  margin-top: 10px;
}

/*搜索框*/
.queryBox {
  width: 486px;
  height: 40px;
  border: 3px solid #f80;
  margin: 30px 110px 0 0;
}

.queryBox > div {
  float: left;
}

.queryBox .queryAllType {
  width: 89px;
  font: 12px/34px "微软雅黑";
  text-align: center;

}

.queryBox .queryAllType > a {
  background-color: #f8f8f8;
  border-right: 1px solid #ddd;
}

.queryBox .queryAllType a {
  color: #999;
  background-color: #fff;
}

.queryBox .queryAllTypeList li {
  box-shadow: 0 0 1px #ddd;
}

.queryAllType > a > i {
  transition: .5s;
  display: inline-block;
  width: 7px;
  height: 4px;
  margin-left: 5px;
  background: url("../img/icon2.png") no-repeat -8px -19px;
}

.queryBox .queryAllTypeList {
  display: none;
  position: relative;
  z-index: 999;
}

.queryAllType:hover > a > i {
  transform: rotate(180deg);
}

.queryBox .queryAllType:hover .queryAllTypeList {
  display: block;
}

.queryAllTypeList li:hover a {
  background-color: #ddd;
  color: #333;
}

.queryBox .queryTextInput {
  position: relative;
}

.queryBox .queryTextInput input {
  width: 332px;
  border: none;
  height: 34px;
  text-indent: .5em;
}

.queryTextInput .localRecommend {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 0;
  font: 12px/2 "微软雅黑";
}

.queryTextInput .localRecommend a {
  float: left;
  width: 34px;
  height: 24px;
  text-align: center;
  color: #999;
  background-color: #f3f3f3;
  margin-right: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.queryBox .queryButton {
  width: 59px;
  height: 34px;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.queryBox .queryButton button {
  width: 100%;
  height: 100%;
  background: #ff8800 url("../img/icon3.png") no-repeat 26px -175px;
  opacity: .9;
}

.queryBox .queryButton button:hover {
  opacity: 1;
}

/*客服*/
.customerService {
  width: 295px;
  border: 1px solid transparent;
  margin-top: -10px;
  background: url("../img/site_contact_bg.png") no-repeat 0 36px;
}
.customerService>* {
  float: left;
}
.customerService a {
  height: 36px;
  padding-left: 31px;
  background: url("../img/head_tel.png") no-repeat 0 4px;
  margin: 45px 15px 0 0;
  font: 12px/18px "微软雅黑";
  width: 80px;
  color: #9c9ba5;
}

.customerService a span {
  color: #22c233;
}

.customerService > span {
  padding: 45px 0 0 30px;
  background: url("../img/tel.png") no-repeat 0 49px;
  font: 12px/18px "微软雅黑";
  color: #9c9ba5;
}

.customerService > span strong {
  color: #f60;
  font-weight: bold;
  display: block;
}

.customerService>em {
  width: 60px;
  height: 77px;
  background: url("../img/lin_small.png") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  margin-top:10px;
}

/*主导航*/
.mainNavWrap {
  width: 100%;
  height: 40px;
  background-color: #2dbb55;
  border-bottom: 40px solid transparent;
}

.mainNavWrap .mainNavWrapContentList {
  position: relative;
}

.mainNavWrap .mainNavWrapContentList li {
  float: left;
}

.mainNavWrap .mainNavWrapContent {
  width: 1190px;
  margin: 0 auto;
  font: 16px/40px "微软雅黑";
}

.mainNavWrapContentList li a {
  display: inline-block;
  padding: 0 10px;
  color: #fff;
}

.mainNavWrapContentList > li a:hover {
  background: #4ecf5b;
  color: #fff;
}

.mainNavWrapContentList > li em {
  transition: .5s;
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 3px;
  background: url("../img/icon3.png") no-repeat -32px -456px;
}

.mainNavWrapContentList > li a:hover em {
  transform: rotate(180deg);
}

/*子导航*/
.mainNavWrapContentList li .childrenNav {
  width: 100000px;
  height: 40px;
  background-color: #fff;
  position: absolute;
  top: 40px;
  left: -200000px;
  border-bottom: 1px solid #ccc;
}

.mainNavWrapContentList .heelTour .childrenNavContent {
  left: 0;
}

.mainNavWrapContentList li .childrenNavContent {
  width: 1000px;
  position: absolute;
  top: 40px;
  font: 12px/2 "微软雅黑";
  padding: 8px 0;
  margin: 0 10px 0 5px;
  z-index: 999;
  display: none;
}

.mainNavWrapContentList .childrenNavContent a {
  float: left;
  color: #000;
}

.mainNavWrapContentList li:hover .childrenNav {
  left: -10000px;
}

.mainNavWrapContentList li:hover .childrenNavContent {
  display: block;
}



/*登录弹层*/
.loginMask,
.loadingMask {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loadingMask .loadingMaskBox {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: .9;
}


.loginMask .loginBoxTitle {
  border-bottom: 1px solid #eaeaea;
}

.loginMask .loginBoxTitle a:nth-of-type(1),
.loginMask .loginBoxTitle a:nth-of-type(2) {
  width: 50%;
  color: #ddd;
  float: left;
  text-align: center;
  margin-bottom: -1px;
}

.loginMask #loginBoxTitle .active {
  color: #3ac749;
  border-bottom: 1px solid #3ac749;
}

.loginMask .loginBoxTitle .close {
  position: absolute;
  font-size: 30px;
  line-height: 30px;
  top: -6px;
  right: 0;
  color: #a09f9f;
  transition: .5s;
  transform-origin: center 18px;
}

.loginMask .loginBoxTitle .close:hover {
  transform: rotate(180deg);
}

.loginMask .loginBoxInput {
  padding: 40px 30px;
}

.loginMask input {
  padding: 0;
  border: none;
  outline: none;
  background-color: #fff;
}

.loginMask .loginBoxInput {
  font: 12px/40px "微软雅黑";
}

.loginMask .loginBoxInput .loginAccountNumber {
  width: 285px;
  height: 30px;
  padding: 20px 5px 20px 40px;
  outline: #ddd solid;
  background: url("../img/loginIcon1.png") no-repeat 8px 8px;
}

.loginMask .loginBoxInput .loginPassword {
  width: 285px;
  height: 30px;
  padding: 20px 5px 20px 40px;
  outline: #ddd solid;
  background: url("../img/loginIcon2.png") no-repeat 8px 8px;
  margin-top: 20px;
}

.loginMask .loginBoxInput input {
  border: none;
}

.loginMask .loginBoxInput .getNumber {
  position: absolute;
  padding: 0 8px;
  top: 20px;
  right: 0;
  border-left: 1px solid #ddd;
  background-color: #eee;
  color: #999;
}

.loginMask .loginBoxInput .loginBtn {
  font: 18px/40px "微软雅黑";
  width: 100%;
  background-color: #f60;
  margin-top: 20px;
  color: #fff;
}

.UserRegisterBox {
  padding: 10px 0;
}

.UserRegisterBox > div {
  width: 80%;
  margin: 10px auto;

}

.UserRegisterBox > div > input {
  width: 50%;
  margin: 0;
  display: inline-block;
}

.UserRegisterBox > div > button {
  font-size: 12px;
  line-height: 30px;
  padding: 0 10px;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #ccc;
}

.UserRegisterBox input {
  padding: 5px;
  display: block;
  border: 1px solid #ddd;
  width: 80%;
  margin: 10px auto;
  font: 14px/20px "微软雅黑";
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.loginMask .UserRegisterBox .loginBtn {
  font: 18px/30px "微软雅黑";
  width: 80%;
  background-color: #f60;
  margin-top: 20px;
  color: #fff;
}

/*公用标题*/
.discountIcon {
  float: left;
  width: 70px;
  height: 70px;
  background: url("../img/icon.png") -174px -604px no-repeat;
  font: 20px/1 "微软雅黑";
  margin-right: 30px;
}

.discountIcon > h3 {
  color: #fff;
  width: 40px;
  margin: 14px 12px;
}

/*公用小标题*/
.couponsActive {
  width: 100%;
  background-color: #f6f6f6;
  font: bold 12px/30px "微软雅黑";
  margin-top: 20px;
}

.couponsActive span {
  float: left;
  width: 5px;
  height: 20px;
  background-color: #22c233;
  margin: 5px 0 0 10px;
}

.couponsActive h5 {
  float: left;
  margin-left: 10px;
}
